#git ignore file, add all the unnecessary extentions etc. here

# Python
__pycache__
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/

# Pytest
.cache/

# Python specific
*.python-version


# IDEs and editors
.idea/
.vscode/


